<section class='search-contact'>
  <h1>Search for a Contact</h1>
  <form action="/search" method="get">
    <input type="text" name="first_name" placeholder="e.g. John">
    <input type="text" name="last_name" placeholder="e.g. Smith">
    <input type="submit" value="Search Contact">
  </form>
</section>
